body{
    background-image: url(img/unknown.png);
    background-attachment: fixed;
    background-size: 2000px;

}
h1{
    text-align: center;
    color: dimgrey;
    font-family: fantasy;
}
h2{
    color: dimgrey;
    font-family: fantasy;
}
